.header {
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #2e3e50;
    border: 3px solid #f4c318;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}


nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
}


nav li {
    background-color: #2e3e50;
    border: 3px solid #f4c318;
    padding: 10px;
    width: 100px;
    text-align: center;
}


nav li a {
    color: #ffffff;
    text-decoration: none;
}