/****************** MOBILE FIRST APPROACH ******************/



/****** SCREEN MAX 576px ******/

@media (max-width: 576px) {
    .header {
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 45px;
        padding-bottom: 45px;
        background-color: #2e3e50;
        border: 3px solid #f4c318;
        color: #ffffff;
        font-size: 30px;
        text-align: center;
    }

    .header a:link {
        text-decoration: none;
        color: #ffffff;
    }

    .header a:visited {
        color: white;
    }
        
    nav ul {
        display: none;
    }
}





/****** SCREEN MIN 576px ******/

@media (min-width: 576px) {
    .header {
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: #2e3e50;
        border: 3px solid #f4c318;
        color: #ffffff;
        font-size: 40px;
        text-align: center;
    }

    .header a:link {
        text-decoration: none;
        color: #ffffff;
    }

    .header a:visited {
        color: white;
    }

    #myLinks, .burger {
        display: none !important;
    }

    nav ul {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        background-color: #ffffff;
    }
    nav li {
        background-color: #2e3e50;
        border: 3px solid #f4c318;
        padding: 10px;
        width: 100px;
        text-align: center;
    }
    nav li a {
        color: #ffffff;
        text-decoration: none;
    }
}





/****** SCREEN MIN 768px ******/

@media (min-width: 768px) {
    .header {

    }

    .header a:link {

    }

    .header a:visited {

    }

    #myLinks, .burger {

    }

    nav ul {

    }

    nav li {

    }

    nav li a {

    }
}





/****** SCREEN MIN 992px ******/

@media (min-width: 992px) {
    .header {

    }

    .header a:link {

    }

    .header a:visited {

    }

    #myLinks, .burger {

    }

    nav ul {

    }

    nav li {

    }

    nav li a {

    }
}





/****** SCREEN MIN 1200px ******/

@media (min-width: 1200px) {
    .header {

    }

    .header a:link {

    }

    .header a:visited {

    }

    #myLinks, .burger {

    }

    nav ul {

    }

    nav li {

    }

    nav li a {

    }
}





.burger {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    margin: 10px;
}

.burger hr {
    border: 1.3px solid #ffffff;
}

#myLinks {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #2e3e50;
    border: 3px solid #f4c318;
    text-align: center;
}

#myLinks a:link {
    margin: 28px;
    color: white;
    text-decoration: none;
    font-size: 26px;
    display: block;
}


#myLinks a:visited {
    color: white;
  }


#myLinks hr {
    border: 1px solid #ffffff;
    width: 30px;
}