
body {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', Ubuntu, sans-serif;
}

.main {
    padding-top: 5px;
    padding-bottom: 35px;
    background-color: #ffffff;
    color: #15162e;
}


.table {
    padding: 0;
    display: flex;
    justify-content: center;
}

.pic {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin: 6px;  /* 48px */
}

.pics {
    border-radius: 50%;
    width: 55px; /* 154px */
    height: 55px; /* 154px */
    margin: 4px; 
    border: 2px solid #f4c318;
}

#center {
    display: block;
}

#instructions {
    display: none;
    margin: auto;
    width: 75%;
}

#instructions p {
    padding-bottom: 25px;
    font-size: 12px;
}

#instructions h1 {
    font-size: 22px;
}

#instructions h2 {
    font-size: 18px;
}

#welldone {
    margin: auto;
    text-align: center;
    display: none;
}

#wellfont {
    font-size: 50px;
    font-weight: bold;
    color: #f4c318;
}

.score {
    margin: auto;
    width: 200px;
    font-size: 24px;
    font-weight: bold;
    color: #f4c318;
    display: flex;    
    justify-content: space-between;
}


#finalScore {
    font-size: 20px;
    font-weight: bold;
    color: #ea9107;
}


/****** SCREEN MIN 768px ******/

@media (min-width: 576px) {
    .main {
        padding-top: 10px;
    }

    .score {
        width: 200px;

    }
}




/****** SCREEN MIN 768px ******/

@media (min-width: 768px) {
    .pic {
        width: 55px;
        height: 55px;
        margin: 10px;  /* 48px */
    }
        
    .pics {
        border-radius: 50%;
        width: 55px; /* 154px */
        height: 55px; /* 154px */
        margin: 8px; 
    }

    #instructions p {
        font-size: 14px;
    }

    #instructions h1 {
        font-size: 24px;
    }
    
    #instructions h2 {
        font-size: 20px;
    }

    .score {
        width: 240px;
    }
}




/****** SCREEN MIN 992px ******/

@media (min-width: 992px) {
    .main {
        padding-top: 50px;
        padding-bottom: 130px;
        color: #15162e;
    }
    
    .pic {
        width: 90px;
        height: 90px;
        margin: 16px;  /* 48px */
    }
        
    .pics {
        border-radius: 50%;
        width: 90px; /* 154px */
        height: 90px; /* 154px */
        margin: 14px; 
    }

    #instructions {
        width: 60%;
    }

    #instructions p {
        font-size: 16px;
    }
    
    #instructions h1 {
        font-size: 24px;
    }
    
    #instructions h2 {
        font-size: 20px;
    }

    .score {
        margin: auto;
        width: 380px;
        font-size: 38px;
        font-weight: bold;
        color: #f4c318;
        display: flex;    
        justify-content: space-between;
    }
}




/****** SCREEN MIN 1200px ******/

@media (min-width: 1200px) {
    .pic {
        width: 95px;
        height: 95px;
    }
    
    .pics {
        width: 95px;
        height: 95px;
    }
}