
body {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', Ubuntu, sans-serif;
}


.main {
    padding-top: 180px;
    padding-bottom: 180px;
    background-color: #ffffff;
    color: #15162e;
    font-size: 18px;
    text-align: center;
}


.footer {
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #2e3e50;
    border: 3px solid #f4c318;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}