
body {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', Ubuntu, sans-serif;
}

.main {
    padding-top: 50px;
    padding-bottom: 180px;
    background-color: #ffffff;
    color: #15162e;
    font-size: 18px;
    text-align: center;
}

.table {
    padding: 0;
    display: flex;
    justify-content: center;
}

.pic {
    border-radius: 50%;
    width: 145px;
    height: 145px;
    margin: 28px;  /* 48px */
}


.pics {
    border-radius: 50%;
    width: 145px; /* 154px */
    height: 145px; /* 154px */
    margin: 26px; 
    border: 2px solid #f4c318;
}